h1 {
	font-size: 5em;
	text-align: center;
	color: #170F00;
}
#introForm {
	text-align: center;
}
.introQuestions {
	margin: 0 auto;
}
.intro1, .intro2, .intro3 {
	font-size: 50px;
	text-align: center;
	display: none;
	padding-bottom: 30px;
	color: #604308;
}
.intro4 {
	font-size: 70px;
	color: #AA8439;
	text-align: center;
	margin-top: 60px;
	display: none;
}
.buttonContinue {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	position: absolute;
	cursor: pointer;
	background-color: #AA8439;
	color: #ffffff;
	padding: 5px;
	border: none;
}

.startForm {
	display: none;
	text-align: center;
}
.my-container {
	display: none;
}
.form-group {
	display: flex;
	justify-content: space-between;
	width: 40%;
	font-size: 1.2em;
	color: #603D08;
	font-weight: 800;
}
.inputsForm {
	padding-right: 5px;
}
.form-control {
	flex-grow: 2;
}
.buttonSubmit {
	cursor: pointer;
	background-color: #AA8439;
	color: #ffffff;
	border: none;
}
.searchBoxes {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	width: 40%;
}
#searchForm {
	display: none;
	margin-top: 20px;
}
#excludedForm {
	display: none;
	margin-top: 20px;
}	
#results {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
}
.column {
	width: 40%;
	margin: 5px auto;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
	background-color: #FFF1D6;
}
.column:hover {
	transform: scale(1.02, 1.01);
  transition: transform 0.3s linear;
}
.column a {
	text-decoration: none;
	font-size: 1.2em;
	color: #170F00;
}
a:hover {
	text-decoration: underline;
}
.printDate {
	font-size: 1.2em;
	color: #AA8439; 
	font-weight: 800;
}
.form-control {
	padding-left: 5px;
}
.square {
	background-color: yellow;
}
.startForm {
	display: none;
}
.nextPageSection {
	display: flex;
	width: 40%;
	margin: 5px auto;
}
.nextPage {
	cursor: pointer;
	margin-left: 40%;
	background-color: #AA8439; 
	color: #ffffff;
	border:none;
}
.previousPage {
	cursor: pointer;
	background-color: #AA8439;
	color: #ffffff;
	border: none;
}
@media only screen and (min-width: 480px) {
	.mobileHeader {
		display: none;
	}
	.mobileContinue {
		display: none;
	}	
	.mobileButtonContinue {
		display: none;
	}
	.mobileBanner {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	.banner {
		display: none;
	}
	.introForm {
		display: none;
	}
	.mobileContinue {
		text-align: center;
	}
	.mobileBanner {
		top: 60%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		position: absolute;
		cursor: pointer;
	}
	.searchBoxes {
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	.column {
		width: 100%;
		margin: 0 auto;
		margin: 5px auto;
		border-radius: 5px;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
		background-color: #FFF1D6;
	}
	.previousPage {
		margin-right: 20px;
	}	
	.mobileButtonContinue {
		cursor: pointer;
		background-color: #AA8439;
		color: #ffffff;
		padding: 5px;
		border: none;
	}
}
